.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 35px;
}

.select-section {
    height: 0 auto;
    background-color: #EDE8D3;
    border: 4px solid #EEDFCC;
    border-radius: 9px; 
    margin-top: -6px; 
}

.styled-select {
   margin-top: 50px;
}

.styled-select select {
    font-size: 16px;
    height: 36px;
    background-color: #F0F0E7;
}

.selectStyled select {
    font-size: 16px;
    background-color: #F0F0E7;
}

.form-control {
    height: 34px;
    background-color: #F0F0E7;
}

.btn-block {
    border-radius: 9px;
    color: white;
    padding: 2px;
    font-size: 27px;
    font-weight: bold;
    margin-left: -15px;

}

.btn.btn-sm {
    background-color: #696969;
    border-radius: 9px;
    color: white;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
    margin-left: -19px;
    margin-top: 5px;
}

.btn.btn-sm:active {
    background: #333;
}

.btn.btn-sm.dropdown-toggle {
    background-color: #8c97a6; 
}

.output-section {
    background-color: #E6D5BF;
    height: 190px;
    margin: 15px -7px 4px -8px;
}

.output-section .fl {
    margin-left: 16px;
}

.output-section > .form-control {
    padding: 6px;
}

.row-section {
    margin-top: -35px;
}

.rate-section .fl {
   width: 450px;
}









